a {
    font-family: cursive;
    background-color: yellow;
}

a:link {
    text-decoration: none;
}

a:visited {
    color:blue
}

a:hover {
    text-decoration: underline;
    font-style: italic;

dl {
    color: green;
}

h3 {
    color: red;
}
h1 {
    color: blueviolet;
}

h2 {
    color: bisque;
}